/* Store Footer */
footer {
  margin-top: 30px;
}

.copyright-div {
  display: inline-block;
  font-size: 1.4rem;
  text-align: left;
  margin: 10px;
}

.socials-div {
  display: flex;
  float: right;
  margin: 10px;
}

/* Store Footer - img */
footer img {
  width: 30px;
  float: right;
  margin-left: 10px;
  display: inline;
}
