/* Store Header */
header {
  display: flex;
  align-items: center;
}

/* Logo Figure */
.logo-figure {
  display: inline;
}

/* Logo Img */
.logo-img {
  width: 100px;
  height: auto;
  margin: 10px;
}

/* Store Name */
.store-name-h1 {
  display: inline-block;
}

/* Date/Time */
.date-time-em {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.4rem;
}

/* Nav Bar */
nav {
  display: flex;
  align-items: center;
  border: 1px;
  background-color: rgb(30, 187, 215);
  color: white;
  padding: 6px;
}

/* Nav Bar Container */
.nav-list-ul {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.nav-list-item-li {
  list-style: none;
}

/* Item Add to Cart - Hover */
.nav-list-item-li:hover {
  font-weight: bold;
  transition: font-weight 0.3s;
}

/* Nav Bar Link */
nav a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}
