/* Store Header */
.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-right-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 5px 10px 0 0;
}

.home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* Logo Figure */
.logo-figure {
  display: inline;
}

/* Logo Img */
.logo-img {
  width: 100px;
  height: auto;
  margin: 10px;
}

/* Store Name */
.store-name-h1,
.store-slogan {
  display: inline-block;
  color: rgb(30, 187, 215);
  vertical-align: middle;
  margin-left: 20px;
}

.store-slogan {
  font-weight: lighter;
}

/* Date/Time */
.date-time-em {
  font-size: 1.4rem;
}

/* Nav Bar */
nav {
  background-color: rgb(30, 187, 215);
  color: white;
  padding: 5px;
  margin-top: 5px;
}

/* Nav Bar Container */
.nav-list-ul {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}

.nav-list-item-li {
  list-style: none;
}

/* Item Add to Cart - Hover */
.nav-list-item-li:hover {
  font-weight: bold;
  transition: font-weight 0.3s;
}

/* Nav Bar Link */
nav a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}

/* Currency */
.currency-select-div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  text-align: center;
}

.currency-select-label {
  font-size: 1.2rem;
  margin-right: 5px;
}

.currency-select {
  width: 40px;
  height: 20px;
  margin-right: 10px;
}

.currency-option {
  font-size: 1.4rem;
}

.flag-figure {
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
}

.cart-figure {
  margin: 0;
  align-self: center;
  position: relative;
}

.cart-img {
  width: 50px;
}

.cart-link {
  vertical-align: bottom;
}

.cart-notification {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: rgb(30, 187, 215);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: 1.2rem;
  font-weight: bold;
}
