/* Page Description */
.page-content-desc {
  margin: 5px 0 0 5px;
  font-weight: bold;
}

/* Items Section Wrapper */
.store-items-section {
  display: flex;
  justify-content: left;
  margin-top: 5px;
  flex-wrap: wrap;
  gap: 5px;
  margin-left: 10px;
}

/* Single Item */
.store-item-article,
.store-item-article-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  background-color: white;
  padding: 5px;
  margin: 5px;
  width: 275px;
  height: 350px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

/* Blur Tests
.store-item-article {
  filter: blur(5px);
}

.store-items-section > :nth-child(4) {
  filter: none !important;
} */

/* Item Header */
.store-item-article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  margin: 5px;
}

/* Item Stock */
.store-item-stock-em {
  font-size: 1.4rem;
}

/* Store Item Review Div Wrapper */
.item-review-wrapper {
  display: flex;
  align-items: baseline;
}

/* Item Review Stars */
.store-item-review-stars {
  display: flex;
  text-align-last: right;
}

/* Item Review Stars - img */
.store-item-review-stars img {
  width: 10px;
}

/* Store Item Review Quantity */
.store-item-reviews-quantity {
  font-size: 1.2rem;
  margin-left: 5px;
}

/* Item Body */
.store-item-article-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  text-align: center;
  margin: 5px;
}

/* Item Body - Link */
.store-item-article-body a {
  text-decoration: solid;
  color: black;
  font-weight: bold;
  flex-grow: 1;
}

/* Store Item Figure Caption */
.store-item-figure-caption {
  font-size: 1.8rem;
}

/* Item Image */
.store-item-img {
  margin-top: 5px;
  width: 250px;
  height: 150px;
  /* width: 100%;
  height: 100%; */
  background-size: contain;
}

.store-item-details {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: normal;
  color: gray;
  margin-top: 5px;
}

/* Store Item Price */
.store-item-price {
  margin: 5px 0;
  font-size: 1.4rem;
}

/* Item Add to Cart */
.store-item-add-to-cart {
  background-color: #1ebbd7;
  padding: 5px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.5s;
}

/* Item Add to Cart - Hover */
.store-item-add-to-cart:hover {
  background-color: rgb(0, 86, 179);
}

/* Add to Cart Link */
.store-item-add-to-cart a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  width: 180px;
}

/* Add to Cart Figure */
.store-item-cart-figure {
  display: inline-block;
  padding: 2px;
}

/* Add to Cart Image */
.store-item-cart-image {
  display: inline-block;
  color: #ffffff;
  width: 20px;
  height: auto;
  margin: 1%;
}

/* Item Add to Cart Text */
.store-item-add-to-cart-text {
  font-size: 1.2rem;
  display: inline-block;
  color: #ffffff;
  vertical-align: super;
  margin-left: 5px;
}

.article-back strong,
.article-back p {
  font-size: 1.2rem;
  display: inline-block;
}

.article-back strong {
  margin-right: 5px;
}

.store-item-article-details {
  position: relative;
}

.store-item-article-details,
.store-item-article-details .store-item-article-body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.store-item-article-details .store-item-img {
  width: 150px;
  margin: 0;
  height: auto;
}

.store-item-article-details .store-item-article-header {
  justify-content: center;
  align-items: center;
}

.store-item-article-details .store-item-add-to-cart {
  display: inline-block;
  width: 190px;
  margin: 5px 0;
}

.store-item-article-details .store-item-add-to-cart a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: solid;
  color: black;
  font-weight: bold;
}

.switch-figure {
  position: absolute;
  top: 10px;
  right: 10px;
  flex-basis: 0;
  margin-left: auto;
}

.switch-img {
  width: 30px;
  height: auto;
}
