/* Items Grid */
#divElementStoreItemGrid {
  margin: 10px;
}

/* Items Grid - Figure */
#divElementStoreItemGrid figure {
  margin: 0.5%;
  display: inline;
}

/* Single Item */
.divStoreItem {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  width: 20%;
  display: inline-block;
  box-sizing: border-box;
}

/* Item Header */
.divItemHeader {
  display: inline-flex;
  font-size: small;
  margin: 5px;
}

/* Item Stock */
.divItemStock {
  width: 50%;
}

/* Item Review Stars */
.divItemReviewsStars {
  text-align-last: right;
  width: 55%;
  margin: 0px 2%;
}

/* Item Review Stars - img */
.divItemReviewsStars img {
  width: 8%;
  height: auto;
  margin: 0%;
}

/* Item Body */
.divItemBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1%;
}

/* Item Body - Link */
.divItemBody a {
  text-decoration: solid;
  color: black;
  font-weight: bold;
}

/* Item Image */
.imgItem {
  width: 50%;
  height: auto;
  margin: 5%;
}

/* Item Add to Cart */
.divAddCart {
  margin: 2%;
  background-color: rgb(30, 187, 215);
  padding: 5px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s;
}

/* Item Add to Cart - Hover */
.divAddCart:hover {
  background-color: rgb(0, 86, 179);
}

/* Add to Cart Image */
.imgCart {
  color: #ffffff;
  width: 10%;
  height: auto;
  margin: 1%;
}

/* Item Add to Cart Text */
.divAddCartText {
  display: inline;
  color: #ffffff;
  vertical-align: super;
  margin-left: 2%;
}
