.cart-products-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-product-wrapper {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  gap: 25px;
}

.cart-product-img {
  width: 100px;
}

.cart-product-quantity {
  display: flex;
  gap: 5px;
}

.cart-product-quantity a {
  text-decoration: none;
  font-weight: bold;
  color: #1ebbd7;
}

.cart-product-quantity-input {
  text-align: center;
  width: 30px;
  border: 0;
  font-size: 1.4rem;
}
