/* H E A D E R */
/* Applies styles to the header element */
header {
  position: relative;
}

/* Applies styles to the Logo figure element */
#figureElementLogo {
  display: inline;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

/* Applies styles to the Logo img element within the figure */
#imgElementLogo {
  width: 5%;
  height: auto;
}

/* Applies styles to the strong element (Store Name) */
#strongElementStoreName {
  display: inline;
  vertical-align: middle;
}

/* Applies styles to the  element (Date/Time) */
#emElementDateTime {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
}

/* M A I N  B O D Y */
/* Applies styles to the nav element */
nav {
  display: flex;
  align-items: center;
  border: 1px;
  background-color: rgb(30, 187, 215);
  color: white;
  padding: 6px;
}

/* Applies styles to all link elements within the nav */
nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#divElementStoreItemGrid {
  margin: 10px;
}

#divElementStoreItemGrid figure {
  margin: 0.5%;
  display: inline;
}

.divElementStoreItem {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  width: 20%;
  display: inline-block;
  box-sizing: border-box;
}

.divElementItemHeader {
  display: inline-flex;
  font-size: small;
  margin: 5px;
}

.divElementItemStock {
  width: 50%;
}

.divElementItemReviewsStars {
  text-align-last: right;
  width: 55%;
  margin: 0px 2%;
}

.divElementItemReviewsStars img {
  width: 8%;
  height: auto;
  margin: 0%;
}

.divElementItemBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1%;
}

.imgElementItem {
  width: 50%;
  height: auto;
  margin: 5%;
}

.divElementAddCart {
  margin: 2%;
  background-color: rgb(30, 187, 215);
  padding: 5px 20px;
  cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.divElementAddCart:hover {
  background-color: rgb(0, 86, 179);
}

.divElementAddCart a {
  text-align-last: left;
  color: #ffffff;
  text-decoration: none;
}

.imgElementCart {
  color: #ffffff;
  width: 10%;
  height: auto;
  margin: 1%;
}

/* Applies styles to the div element within the nav */
#divElementCategories {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

/* F O O T E R */
/* Appplies styles to the footer element */
footer {
  text-align: left;
}

/* Applies styles to all img elements within the footer */
footer img {
  width: 2%;
  height: auto;
  float: right;
  margin-left: 10px;
  display: inline;
}
